.counter {
    font-size: 2.5em;
}

.title {
    font-size: 2em;
}

body div {
    margin: auto;
}

.body {
    text-align: center;
}

.box {
    font-family: 'Noto Sans JP', sans-serif;
    display: inline-block;
    text-align: center;
}

.main {
    margin: 10px;
}

@media screen and (max-width:480px) {
    body {
        font-size: 9px;
    }
}

.none {
    height: 25%;
}